<div class="container"  style="width: 500px">
  <div class="row ">
    <div class="col-sm-6 imgUp">
      <div class="caption">
        <p>Content Image</p>
      </div>
      <div class="imagePreview img-thumbnail"></div>
      <label class="btn btn-primary">
        Choose Content<input type="file" class="uploadFile img" value="Upload Photo"
          style="width: 0px;height: 0px;overflow: hidden;">
      </label>
    </div><!-- col-2 -->
    <!-- <i class="fa fa-plus imgAdd"></i> -->
    
    <div class="col-sm-6 imgUp">
      <div class="caption">
        <p>Style Image</p>
      </div>
      <div class="imagePreview img-thumbnail"></div>
      <label class="btn btn-primary">
        Choose Style<input type="file" class="uploadFile img" value="Upload Photo"
          style="width: 0px;height: 0px;overflow: hidden;">
      </label>
    </div><!-- col-2 -->
    <!-- <i class="fa fa-plus imgAdd"></i> -->

  </div><!-- row -->
  
  <div class="row">
    <div class="col-sm-6  col-sm-offset-3">
    <label class="btn btn-primary">
      Stylize<input type="file" class="uploadFile img" value="Upload Photo"
        style="width: 0px;height: 0px;overflow: hidden;">
    </label>
    </div>
  </div><!-- row -->

  

</div><!-- container -->