<div class="container" style="width: 500px">
  <div class="row ">
    <div class="col-sm-6 imgUp">
      <div class="caption">
        <p>Content Image</p>
      </div>
      <div class="imagePreview img-thumbnail"></div>
      <label class="btn btn-primary">
        Choose Content<input type="file" class="uploadFile img" value="Upload Photo"
          style="width: 0px;height: 0px;overflow: hidden;">
      </label>
    </div><!-- col-2 -->
    <!-- <i class="fa fa-plus imgAdd"></i> -->

    <div class="col-sm-6 imgUp">
      <div class="caption">
        <p>Style Image</p>
      </div>
      <div class="imagePreview img-thumbnail"></div>
      <label class="btn btn-primary">
        Choose Style<input type="file" class="uploadFile img" value="Upload Photo"
          style="width: 0px;height: 0px;overflow: hidden;">
      </label>
    </div><!-- col-2 -->
    <!-- <i class="fa fa-plus imgAdd"></i> -->

  <!-- The output -->
  <!-- Image zoom from: https://alt-web.com/TUTORIALS/?id=bootstrap_simple_image_zoom -->
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">
      <!-- source: https://alt-web.com/TUTORIALS/?id=bootstrap_simple_image_zoom -->
      <!-- <div class="imagePreview thumbnail zoom result-img"></div>     -->
      <div class="imagePreview img-thumbnail zoom"></div>
      
      <label class="btn btn-primary" id="Stylize" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Stylizing...
      </label>
      <!-- There likely is a problem with bootstrap 3  spinners. 
        Maybe not implemented until 4? -->
        
      <!-- <button class="btn btn-primary" type="button" id="Stylize" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
        Stylize<input type="file" class="uploadFile img" value="Upload Photo"
          style="width: 0px;height: 0px;overflow: hidden;">
      </button> -->
  </div>
  <!-- end output -->
</div><!-- container -->